*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-size: 100%;
  border: none;
  font-weight: 400;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  height: 500vh;
}

.parallax_component{
  height: 100svh;
}







